name: Linter
run-name: Linting ${{ github.ref }}
on: [push, pull_request]

jobs:
  lint:
    name: python
    runs-on: ubuntu-latest
    strategy:
        matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.8.22"
          with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: 'pyproject.toml'
      
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      
      - name: Run linter
        run: uvx ruff check
